$primary-font-stack:  AvenirNext, Avenir, "Helvetica Neue", Helvetica, Arial, sans-serif;
$secondary-font-stack: 'Courier New';
$primary-colour:  #006d77;
$secondary-colour:  #ffcdb2;
$header-colour: #83c5be;

body {
    font: 100% $primary-font-stack;
    /*background-image: url('../background/1.png');*/
    display: flex;
    max-width: 100%;
    overflow-x: hidden;
}

h1 {
    color: $header-colour;
    text-align: center;
    padding-top: 5px;
    font-size: 35px;
}

.nav {
    cursor: pointer;
    display: flex;
    color: $header-colour;
    font-size: 16px;
}

#topdiv {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    max-width: 50%;
    justify-content: space-around;
    margin-left: 24%;
}

#myFooter {
    color: $secondary-colour;
    display: flex;
    flex-direction: row;
    background-color: $primary-colour;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 4rem;
    margin-left: -0.4%;
    font-size: 18px;
    list-style: none; 
    line-height: 60px;
    padding-left: 25%;
}

#phone, #email, #twitter, #facebook {
    padding-right: 40px;
    padding-left: 10px;
}

#home:hover {
    text-decoration: underline;
    opacity: 0.4;
}

#menu:hover {
    text-decoration: underline;
    opacity: 0.4;
}

#reservations:hover {
    text-decoration: underline;
    opacity: 0.4;
}
