@import 'base';
#mainText {
    padding-top: 120px;
    color: $secondary-colour;
    font-size: 17px;
    text-align: center;
    padding-left: 150px;
    padding-right: 150px;
    line-height: 2em;
}

#locationdiv {
    color: $secondary-colour;
    padding-top: 50px;
    text-align: center;
    font-size: 18px;
}

#locations {
    font-size: 17px;
    color: $secondary-colour;
    text-align: center;
    padding: 20px;
    max-height: 3.6em;
    line-height: 2em;
    margin-bottom: 424px;
}

#locationtext {
    color: $secondary-colour;
    font-size: 19px;
    margin-top: 1%;
}

#awarddiv {
    margin-top: -17%;
    margin-left: 16%;
}

#awards {
    width: 150px;
    height: 110px;
}

.awards-images {
    padding-right: 50px;
}