@import 'base';

h2 {
    left: 50%;
    top: 50%;
    transform: translate(132%, -91%);
    color: $secondary-colour;
    font-size: 25px;
}

#main-course {
    border: 2px solid gray;
    border-radius: 5px;
    box-sizing: border-box;
    width: 100%;
    margin-left: 80%;
}